/* ==========================================================================
   Rother theme skin
   ========================================================================== */

/* Colors */
$base-color: #cccccc !default;
$text-color: #999999 !default;
$accent-color: #333399 !default;
$background-color: #ffffff !default;
$code-background-color: #fff !default;
$border-color: rgba($text-color, 0.5) !default;
$overlay-color: #fff !default;
