<h2 id="battle"><strong>Battle Baptist Youth Football Club</strong></h2>

{% include kit.html top="#4169E1" top2="#4169E1" shorts="#4169E1" socks="#4169E1" %}

<table class="table table-striped table-bordered" cellpadding="10" cellspacing="1" width="100%">
         <tr>
            <td colspan="2">
               <p><strong>Secretary: </strong> Philip Johnson<br />07908172681 / phil.johnson56@live.co.uk <br /></p>
            </td>
         </tr>
         <tr>
            <td width="70%" valign="top">
               <p><strong>Under 15's</strong></p>
               <p><strong>Team:</strong> Battle Baptists - Under 15 Youth<br /><strong>Colours:</strong> ROYAL BLUE / ROYAL BLUE</p>
               <p>CLAVERHAM SPORTS CENTRE - TN330HT</p>
            </td>
            <td width="30%" valign="top">
               <p><strong>Manager: phil johnson</strong></p>
               <p><strong>Email:</strong> phil.johnson56@live.co.uk<br /><strong>Phone:</strong> 07908172681</p>
            </td>
         </tr>
</table>
