<ul class="nav nav-pills nav-stacked title-case">
<li><a href="#as-eastbourne">AS Eastbourne</a></li>

<!--<li><a href="#battle">Battle Baptists</a></li>-->
<li><a href="#beckley">Beckley Rangers</a></li>
<li><a href="#bexhill">Bexhill United</a></li>
  <li><a href="#beckley">Beckley Rangers</a></li>
<li><a href="#buckswood">Buckswood</a></li>
 <li><a href="#burwash">Burwash</a></li>
<li><a href="#crowhurst">Crowhurst Youth</a></li>
<li><a href="#ds_hastings">D&amp;S Hastings Youth</a></li>
<li><a href="#eastbourne_borough">Eastbourne Borough</a></li>
<li><a href="#goudhurst">Goudhurst</a></li>
<li><a href="#hadlow_down_hawks">Hadlow Down Hawks</a></li>
<li><a href="#hastings_athletic">Hastings Athletic</a></li>
<li><a href="#hastings_rangers">Hastings Rangers</a></li>
<li><a href="#hastings_united">Hastings United</a></li>
<li><a href="#hastings_wanderers">Hastings Wanderers</a></li>
<li><a href="#hawkhurst">Hawkhurst</a></li>
<li><a href="#hollington">Hollington United</a></li>
<li><a href="#hooe">Hooe</a></li>
<li><a href="#horam_and_heathfield">Horam &amp; Heathfield</a></li>
<li><a href="#hurst_green">Hurst Green</a></li>

<li><a href="#junior_club_tackleway">Junior Club Tackleway</a></li>
<li><a href="#kingston_village">Kingston Village</a></li>
<li><a href="#little_common">Little Common</a></li>
<li><a href="#polegate_panthers">Polgate Panthers</a></li>
<li><a href="#premier_united">Premier United</a></li>
<li><a href="#ringmer_rovers">Ringmer Rovers</a></li>
<li><a href="#robertsbridge">Robertsbridge United</a></li>
<li><a href="#rye_bay">Rye Bay</a></li>
<li><a href="#sc_pass_move">SC Pass &amp; Move</a></li>
<li><a href="#sedlescombe">Sedlescombe Rangers</a></li>
<li><a href="#wadhurst">Wadhurst United</a></li>
<!--<li><a href="#weald_wolves">Weald Wolves</a></li>-->
<li><a href="#westfield">Westfield Youth</a></li>
<li><a href="#wittersham">Wittersham</a></li>
</ul>
