<h1>PREVIOUS CUP WINNERS... </h1>
<!--  
**********************
UNDER 09 CHALLENGE CUP
**********************
-->
<table border="0" class="table table-striped" width="100%">
  <tr>
    <th colspan="2" rowspan="1"> <strong>UNDER 9 CHALLENGE CUP</strong> </th>
  </tr>
  <tr>
    <td>2001/2 </td>
    <td>Sedlescombe Rangers Royals </td>
  </tr>
  <tr>
    <td>2002/3 </td>
    <td>Grasshopper Junior </td>
  </tr>
  <tr>
    <td>2003/4 </td>
    <td>Grasshopper Junior </td>
  </tr>
  <tr>
    <td>2009/10 </td>
    <td>Little Common Minors </td>
  </tr>
  <tr>
    <td>2010/11 </td>
    <td>Hastings United Youth </td>
  </tr>
  <tr>
    <td>2011/12 </td>
    <td>Sedlescombe Rangers Blue </td>
  </tr>
</table>
<!--  
**********************
UNDER 10 CHALLENGE CUP
**********************
-->
<table border="0" class="table table-striped" width="100%">
  <tr>
    <th colspan="2" rowspan="1"> <strong>UNDER 10 CHALLENGE CUP</strong> </th>
  </tr>
  <tr>
    <td>1992/3 </td>
    <td>Little Common </td>
  </tr>
  <tr>
    <td>1993/4 </td>
    <td>Langney Sports </td>
  </tr>
  <tr>
    <td>1994/5 </td>
    <td>Langney Sports </td>
  </tr>
  <tr>
    <td>1995/6 </td>
    <td>Willingdon Athletic </td>
  </tr>
  <tr>
    <td>1996/7 </td>
    <td>Junior Club Tackleway </td>
  </tr>
  <tr>
    <td>1997/8 </td>
    <td>Winchelsea Beach </td>
  </tr>
  <tr>
    <td>1998/9 </td>
    <td>Glenco </td>
  </tr>
  <tr>
    <td>1999/2000 </td>
    <td>Spartan </td>
  </tr>
  <tr>
    <td>2000/1 </td>
    <td>Hastings Town Red </td>
  </tr>
  <tr>
    <td>2001/2 </td>
    <td>Hastings Town Blue </td>
  </tr>
  <tr>
    <td>2002/3 </td>
    <td>Hastings Rangers </td>
  </tr>
  <tr>
    <td>2003/4 </td>
    <td>Grasshopper Junior Green </td>
  </tr>
  <tr>
    <td>2004/5 </td>
    <td>Little Common Minors </td>
  </tr>
  <tr>
    <td>2009/10 </td>
    <td>Hastings Town Red </td>
  </tr>
  <tr>
    <td>2010/11 </td>
    <td>Hastings Town White </td>
  </tr>
  <tr>
    <td>2011/12 </td>
    <td>Hastings Town White </td>
  </tr>
  <tr>
    <td>2012/13 </td>
    <td>Sedlescombe Rangers Blue </td>
  </tr>
  <tr>
    <td>2013/14 </td>
    <td>Hastings United Colts </td>
  </tr>
  <tr>
    <td>2014/15 </td>
    <td>Hastings United </td>
  </tr>
  <tr>
    <td>2015/16 </td>
    <td>Westfield</td>
  </tr>
   <tr>
    <td>2016/17 </td>
    <td>AS Eastbourne  </td>
  </tr>
   <tr>
    <td>2017/18 </td>
    <td> </td>
  </tr>
   <tr>
    <td>2018/19 </td>
    <td>AS Eastbourne </td>
  </tr>
 <tr>
    <td>2019/20 </td>
    <td>Crowhurst Youth / AS Eastbourne <i>(Finalists)</i></td>
  </tr>
  
</table>
<!--  
**********************
UNDER 11 FUTON & PINE SHIELD - Small-sided (7-a-side) Competition
**********************
-->
<table border="0" class="table table-striped" width="100%">
  <tr>
    <th colspan="2" rowspan="1"> <strong>UNDER 11 FUTON &amp; PINE SHIELD</strong> Small-sided (7-a-side) Competition</th>
  </tr>
  <tr>
    <td>2000/1 </td>
    <td>Ridge Rangers Red </td>
  </tr>
  <tr>
    <td>2001/2 </td>
    <td>Pevensey &amp; Westham Red </td>
  </tr>
  <tr>
    <td>2002/3 </td>
    <td>Junior Club Tackleway </td>
  </tr>
  <tr>
    <td>2003/4 </td>
    <td>St Leonards Youth </td>
  </tr>
  <tr>
    <td>2004/5 </td>
    <td>Grasshopper Junior Yellow </td>
  </tr>
  <tr>
    <td>2005/6 </td>
    <td>New Romney</td>
  </tr>
</table>
<!--  
**********************
UNDER 11 BESURE SECURITY SYSTEMS CUP
**********************
-->
<table border="0" class="table table-striped" width="100%">
  <tr>
    <th colspan="2" rowspan="1"> <strong>UNDER 11 BESURE SECURITY SYSTEMS CUP</strong> </th>
  </tr>
  <tr>
    <td>1992/3 </td>
    <td>Bexhill Town Youth </td>
  </tr>
  <tr>
    <td>1994/5 </td>
    <td>Spartan </td>
  </tr>
  <tr>
    <td>1995/6 </td>
    <td>Spartan </td>
  </tr>
  <tr>
    <td>1996/7 </td>
    <td>Willingdon Athletic </td>
  </tr>
  <tr>
    <td>1997/8 </td>
    <td>Grasshopper Junior </td>
  </tr>
  <tr>
    <td>1998/9 </td>
    <td>Winchelsea Beach </td>
  </tr>
  <tr>
    <td>1999/2000 </td>
    <td>Polegate Grasshopper </td>
  </tr>
  <tr>
    <td>2000/1 </td>
    <td>Hastings Town Blue </td>
  </tr>
  <tr>
    <td>2001/2 </td>
    <td>Hastings Town Red </td>
  </tr>
  <tr>
    <td>2002/3 </td>
    <td>Hailsham United </td>
  </tr>
  <tr>
    <td>2003/4 </td>
    <td>Hastings Town Youth 2000 </td>
  </tr>
  <tr>
    <td>2004/5 </td>
    <td>Grasshopper Junior Green </td>
  </tr>
  <tr>
    <td>2005/6 </td>
    <td>Hastings Gunners Red </td>
  </tr>
  <tr>
    <td>2006/7 </td>
    <td>Hastings Town Youth 2000 Blue </td>
  </tr>
  <tr>
    <td>2007/8 </td>
    <td>Hastings Town Youth 2000 Red </td>
  </tr>
  <tr>
    <td>2008/9 </td>
    <td>Little Common </td>
  </tr>
  <tr>
    <td>2009/10 </td>
    <td>Westfield Wanderers </td>
  </tr>
  <tr>
    <td>2010/11 </td>
    <td>Sedlescombe Rangers </td>
  </tr>
  <tr>
    <td>2011/12 </td>
    <td>Sedlescombe Rangers Blue </td>
  </tr>
  <tr>
    <td>2012/13 </td>
    <td>Hastings Town </td>
  </tr>
  <tr>
    <td>2013/14 </td>
    <td>Sedlescombe Rangers Blue </td>
  </tr>
  <tr>
    <td>2014/15 </td>
    <td>Hastings United Colts </td>
  </tr>
  <tr>
    <td>2015/16 </td>
    <td>Hawkhurst </td>
  </tr>
   <tr>
    <td>2016/17 </td>
    <td>JC Tackleway Titans </td>
  </tr>
   <tr>
    <td>2017/18 </td>
    <td>Hastings United Youth </td>
  </tr>
  <tr>
    <td>2018/19 </td>
    <td>Ringmer Rovers</td>
  </tr>
   <tr>
    <td>2019/20 </td>
    <td>SC Pass & Move Black / Hastings Wanders Lions <i>(Finalists)</i></td>
  </tr>
</table>
<!--  
**********************
UNDER 12 WAYNE RUSSELL CUP
**********************
--> 
<table border="0" class="table table-striped" width="100%">
  <tr>
    <th colspan="2" rowspan="1"> <strong>UNDER 12 WAYNE RUSSELL CUP</strong> </th>
  </tr>
  <tr>
    <td>1993/4 </td>
    <td>Bexhill Town Youth </td>
  </tr>
  <tr>
    <td>1994/5 </td>
    <td>Little Common </td>
  </tr>
  <tr>
    <td>1995/6 </td>
    <td>Bexhill Town Youth </td>
  </tr>
  <tr>
    <td>1996/7 </td>
    <td>Langney Sports </td>
  </tr>
  <tr>
    <td>1997/8 </td>
    <td>Grasshopper Junior </td>
  </tr>
  <tr>
    <td>1998/9 </td>
    <td>St Leonards Youth </td>
  </tr>
  <tr>
    <td>1999/2000 </td>
    <td>Spartan </td>
  </tr>
  <tr>
    <td>2000/1 </td>
    <td>Hastings Town White </td>
  </tr>
  <tr>
    <td>2001/2 </td>
    <td>Hastings Town </td>
  </tr>
  <tr>
    <td>2002/3 </td>
    <td>Hastings Harriers </td>
  </tr>
  <tr>
    <td>2003/4 </td>
    <td>Little Common </td>
  </tr>
  <tr>
    <td>2004/5 </td>
    <td>Hastings Town Minors </td>
  </tr>
  <tr>
    <td>2005/6 </td>
    <td>Grasshopper Junior Green </td>
  </tr>
  <tr>
    <td>2006/7 </td>
    <td>Glenco </td>
  </tr>
  <tr>
    <td>2007/8 </td>
    <td>Westfield Youth </td>
  </tr>
  <tr>
    <td>2008/9 </td>
    <td>Hastings Gunners Red </td>
  </tr>
  <tr>
    <td>2009/10 </td>
    <td>Bexhill Athletic Eagles </td>
  </tr>
  <tr>
    <td>2010/11 </td>
    <td>Hastings Rangers </td>
  </tr>
  <tr>
    <td>2011/12 </td>
    <td>Little Common </td>
  </tr>
  <tr>
    <td>2013/14 </td>
    <td>Bexhill United </td>
  </tr>
  <tr>
    <td>2014/15 </td>
    <td>Hastings Town </td>
  </tr>
  <tr>
    <td>2015/16 </td>
    <td>Hastings United Claret </td>
  </tr>
  
  <tr>
    <td>2016/17 </td>
    <td>Goudhurst Dynamos </td>
  </tr>
   <tr>
    <td>2017/18 </td>
    <td>Wadhurst United Juniors</td>
  </tr>
   <tr>
    <td>2018/19 </td>
    <td>Eastbourne Borough Orange</td>
  </tr>
   <tr>
    <td>2019/20 </td>
    <td>Hastings United Youth Colts / Hawkhurst United <i>(Finalists)</i></td>
  </tr>
</table>
<!--  
**********************
UNDER 13 TOP FLIGHT TROPHY
**********************
--> 
<table border="0" class="table table-striped" width="100%">
  <tr>
    <th colspan="2" rowspan="1"> <strong>UNDER 13 TOP FLIGHT TROPHY</strong> </th>
  </tr>
  <tr>
    <td>1994/5 </td>
    <td>Spartan </td>
  </tr>
  <tr>
    <td>1995/6 </td>
    <td>Little Common </td>
  </tr>
  <tr>
    <td>1996/7 </td>
    <td>Rye United </td>
  </tr>
  <tr>
    <td>1997/8 </td>
    <td>Firehills </td>
  </tr>
  <tr>
    <td>1998/9 </td>
    <td>Willingdon Athletic </td>
  </tr>
  <tr>
    <td>2001/2 </td>
    <td>Hastings Town White </td>
  </tr>
  <tr>
    <td>2002/3 </td>
    <td>Glenco </td>
  </tr>
  <tr>
    <td>2003/4 </td>
    <td>Bexhill Town </td>
  </tr>
  <tr>
    <td>2004/5 </td>
    <td>New Romney </td>
  </tr>
  <tr>
    <td>2005/6 </td>
    <td>Hastings Athletic </td>
  </tr>
  <tr>
    <td>2006/7 </td>
    <td>Sedlescombe Rangers </td>
  </tr>
  <tr>
    <td>2007/8 </td>
    <td>Hastings Gunners Red </td>
  </tr>
  <tr>
    <td>2008/9 </td>
    <td>Little Common </td>
  </tr>
  <tr>
    <td>2009/10 </td>
    <td>Hastings Gunners </td>
  </tr>
  <tr>
    <td>2010/11 </td>
    <td>Sedlescombe Rangers </td>
  </tr>
  <tr>
    <td>2011/12 </td>
    <td>Rye Bay </td>
  </tr>
  <tr>
    <td>2013/14 </td>
    <td>Bexhill United </td>
  </tr>
  <tr>
    <td>2014/15 </td>
    <td>Westfield </td>
  </tr>
  <tr>
    <td>2015/16 </td>
    <td>Glenco </td>
  </tr>
  <tr>
    <td>2016/17 </td>
    <td>Hastings Rangers Youth </td>
  </tr>
   <tr>
    <td>2017/18 </td>
    <td>Westfield Youth</td>
  </tr>
   <tr>
    <td>2018/19 </td>
    <td>Junior Club Tackleway</td>
  </tr>
  <tr>
    <td>2019/20 </td>
    <td>Sedlescombe Rangers Blue / SC Pass Move Black <i>(Finalists)</i></td>
  </tr>
</table>
<!--  
**********************
UNDER 14 BESURE SECURITY SYSTEMS CUP
**********************
-->  
<table border="0" class="table table-striped" width="100%">
  <tr>
    <th colspan="2" rowspan="1"> <strong>UNDER 14 BESURE SECURITY SYSTEMS CUP</strong> </th>
  </tr>
  <tr>
    <td>1994/5 </td>
    <td>Spartan </td>
  </tr>
  <tr>
    <td>1995/6 </td>
    <td>Winkney </td>
  </tr>
  <tr>
    <td>1996/7 </td>
    <td>Little Common </td>
  </tr>
  <tr>
    <td>1997/8 </td>
    <td>Little Common </td>
  </tr>
  <tr>
    <td>1998/9 </td>
    <td>Little Common </td>
  </tr>
  <tr>
    <td>1999/2000 </td>
    <td>Sidley United </td>
  </tr>
  <tr>
    <td>2000/1 </td>
    <td>Hastings Town Red </td>
  </tr>
  <tr>
    <td>2001/2 </td>
    <td>Westfield </td>
  </tr>
  <tr>
    <td>2002/3 </td>
    <td>Spartan </td>
  </tr>
  <tr>
    <td>2003/4 </td>
    <td>Grasshopper Junior </td>
  </tr>
  <tr>
    <td>2004/5 </td>
    <td>Hastings Town Minors </td>
  </tr>
  <tr>
    <td>2005/6 </td>
    <td>Old Town Boys Green </td>
  </tr>
  <tr>
    <td>2006/7 </td>
    <td>Westfield </td>
  </tr>
  <tr>
    <td>2007/8 </td>
    <td>Hastings United Youth Colts </td>
  </tr>
  <tr>
    <td>2008/9 </td>
    <td>Hastings Hawks </td>
  </tr>
  <tr>
    <td>2009/10 </td>
    <td>Sedlescombe Rangers </td>
  </tr>
  <tr>
    <td>2010/11 </td>
    <td>Westfield </td>
  </tr>
  <tr>
    <td>2011/12 </td>
    <td>Hastings Rangers </td>
  </tr>
  <tr>
    <td>2012/13 </td>
    <td>Bexhill United </td>
  </tr>
  <tr>
    <td>2015/16 </td>
    <td>Wadhurst Wanderers </td>
  </tr>
  <tr>
    <td>2016/17 </td>
    <td>Hastings Town Youth   </td>
  </tr>
  <tr>
    <td>2017/18 </td>
    <td> Hawkhurst United Cougars</td>
  </tr>
  <tr>
    <td>2018/19 </td>
    <td> Eastbourne Borough Black</td>
  </tr>
   <tr>
    <td>2019/20 </td>
    <td>Bexhill United / The Junior Club Tackleway Titans <i>(Finalists)</i></td>
  </tr>
</table>
<!--  
**********************
UNDER 15 CHALLENGE CUP
**********************
-->   
<table border="0" class="table table-striped" width="100%">
  <tr>
    <th colspan="2" rowspan="1"> <strong>UNDER 15 CHALLENGE CUP</strong> </th>
  </tr>
  <tr>
    <td>1994/5 </td>
    <td>Little Common </td>
  </tr>
  <tr>
    <td>1995/6 </td>
    <td>Battle Rangers </td>
  </tr>
  <tr>
    <td>1997/8 </td>
    <td>Ellerhoop </td>
  </tr>
  <tr>
    <td>1998/9 </td>
    <td>Junior Club Tackleway </td>
  </tr>
  <tr>
    <td>2000/1 </td>
    <td>Grasshopper Junior </td>
  </tr>
  <tr>
    <td>2001/2 </td>
    <td>Grasshopper Junior </td>
  </tr>
  <tr>
    <td>2002/3 </td>
    <td>New Romney </td>
  </tr>
  <tr>
    <td>2003/4 </td>
    <td>Spartan </td>
  </tr>
  <tr>
    <td>2004/5 </td>
    <td>Little Common </td>
  </tr>
  <tr>
    <td>2005/6 </td>
    <td>Junior Club Tackleway </td>
  </tr>
  <tr>
    <td>2006/7 </td>
    <td>Grasshopper Junior </td>
  </tr>
  <tr>
    <td>2007/8 </td>
    <td>Hastings United Youth Colts </td>
  </tr>
  <tr>
    <td>2008/9 </td>
    <td>Hastings Gunners Blue </td>
  </tr>
  <tr>
    <td>2009/10 </td>
    <td>Bexhill Town Youth </td>
  </tr>
  <tr>
    <td>2010/11 </td>
    <td>Rye Bay </td>
  </tr>
  <tr>
    <td>2011/12 </td>
    <td>Hastings Rangers </td>
  </tr>
  <tr>
    <td>2012/13 </td>
    <td>Hastings Rangers </td>
  </tr>
  <tr>
    <td>2013/14 </td>
    <td>Westfield </td>
  </tr>
   <tr>
    <td>2014/15 </td>
    <td> N/A </td>
  </tr>
  <tr>
    <td>2015/16 </td>
    <td> N/A </td>
  </tr>
  <tr>
    <td>2016/17 </td>
    <td> N/A  </td>
  </tr>
  <tr>
    <td>2017/18 </td>
    <td> N/A  </td>
  </tr>
   <tr>
    <td>2018/19 </td>
    <td>Hastings Rangers Youth </td>
  </tr>
     <tr>
    <td>2019/20 </td>
    <td>Hurst Green U15 / Goudhurst Dynamos <i>(Finalists)</i></td>
  </tr>
</table>
<!--  
**********************
UNDER 16 LAURIE WEBBER CUP
**********************
-->   
<table border="0" class="table table-striped" width="100%">
  <tr>
    <th colspan="2" rowspan="1"> <strong>UNDER 16 LAURIE WEBBER CUP</strong> </th>
  </tr>
  <tr>
    <td>1994/5 </td>
    <td>Bexhill Town Youth </td>
  </tr>
  <tr>
    <td>1995/6 </td>
    <td>Little Common </td>
  </tr>
  <tr>
    <td>1999/2000 </td>
    <td>Junior Club Tackleway </td>
  </tr>
  <tr>
    <td>2001/2 </td>
    <td>Hastings Town Youth </td>
  </tr>
  <tr>
    <td>2003/4 </td>
    <td>Beckley Rangers </td>
  </tr>
  <tr>
    <td>2004/5 </td>
    <td>Bexhill Town Youth </td>
  </tr>
  <tr>
    <td>2005/6 </td>
    <td>Grasshopper Junior </td>
  </tr>
  <tr>
    <td>2007/8 </td>
    <td>Hastings Rangers </td>
  </tr>
  <tr>
    <td>2008/9 </td>
    <td>Hastings United Youth Colts </td>
  </tr>
  <tr>
    <td>2009/10 </td>
    <td>Hastings United Youth </td>
  </tr>
  <tr>
    <td>2012/13 </td>
    <td>Bexhill United </td>
  </tr>
  <tr>
    <td>2013/14 </td>
    <td>Beckley Rangers </td>
  </tr>
  <tr>
    <td>2019/20 </td>
    <td>Hastings Rangers Youth / Hawkhurst United <i>(Finalists)</i></td>
  </tr>
</table>
<!--  
**********************
UNDER 17 LEAGUE CUP
**********************
-->    
<table border="0" class="table table-striped" width="100%">
  <tr>
    <th colspan="2" rowspan="1"><strong>UNDER 17 LEAGUE CUP</strong></th>
  </tr>
  <tr>
    <td>2002/3 </td>
    <td>Winchelsea Beach </td>
  </tr>
  <tr>
    <td>2003/4 </td>
    <td>Hastings Town Minors </td>
  </tr>
</table>
