<!--  
**********************
UNDER 9 EAST
**********************
-->  
<table border="0" class="table table-striped" width="100%">
  <tr>
    <th colspan="2" rowspan="1"> <strong>UNDER 9 EAST </strong> </th>
  </tr>
  <tr>
    <td>2001/2 </td>
    <td>Glenco Yellow </td>
  </tr>
  <tr>
    <td>2002/3</td>
    <td>Grasshopper Junior</td>
  </tr>
  <tr>
    <td>2003/4</td>
    <td>Little Common</td>
  </tr>
  <tr>
    <td>2009/10</td>
    <td>Guestling Rangers </td>
  </tr>
</table>
<!--  
**********************
UNDER 9 WEST
**********************
-->   
<table border="0" class="table table-striped" width="100%">
  <tr>
    <th colspan="2" rowspan="1"> <strong>UNDER 9 WEST</strong> </th>
  </tr>
  <tr>
    <td>2009/10 </td>
    <td>Little Common Minors </td>
  </tr>
</table>
<!--  
**********************
UNDER 9 DIVISION
**********************
-->   
<table border="0" class="table table-striped" width="100%">
  <tr>
    <th colspan="2" rowspan="1"> <strong>UNDER 9 DIVISION</strong> </th>
  </tr>
  <tr>
    <td>2010/11 </td>
    <td>Hastings Town White </td>
  </tr>
</table>
<!--  
**********************
UNDER 10 GREEN
**********************
-->    
<table border="0" class="table table-striped" width="100%">
  <tr>
    <th colspan="2" rowspan="1"> <strong>UNDER 10 GREEN</strong> </th>
  </tr>
  <tr>
    <td>2001/2 </td>
    <td>Little Common Colts </td>
  </tr>
</table>
<!--  
**********************
UNDER 10 BLUE
**********************
-->  
<table border="0" class="table table-striped" width="100%">
  <tr>
    <th colspan="2" rowspan="1"> <strong>UNDER 10 BLUE</strong> </th>
  </tr>
  <tr>
    <td>1993/4 </td>
    <td>Bexhill Town </td>
  </tr>
  <tr>
    <td>1994/5 </td>
    <td>Little Common </td>
  </tr>
  <tr>
    <td>1997/8 </td>
    <td>Bexhill Town </td>
  </tr>
  <tr>
    <td>1999/2000 </td>
    <td>Princes Park Rangers </td>
  </tr>
  <tr>
    <td>2000/1 </td>
    <td>Hastings Town Green </td>
  </tr>
  <tr>
    <td>2001/2 </td>
    <td>Hastings Town Red </td>
  </tr>
  <tr>
    <td>2002/3 </td>
    <td>Brede Bear Junior </td>
  </tr>
  <tr>
    <td>2009/10 </td>
    <td>Sedlescombe Rangers White </td>
  </tr>
  <tr>
    <td>2010/11 </td>
    <td>Little Common Colts </td>
  </tr>
  <tr>
    <td>2011/12 </td>
    <td>Glenco </td>
  </tr>
  <tr>
    <td>2012/13 </td>
    <td>Glenco </td>
  </tr>
</table>
<!--  
**********************
UNDER 10 RED
**********************
-->  
<table border="0" class="table table-striped" width="100%">
  <tr>
    <th colspan="2" rowspan="1"> <strong>UNDER 10 RED</strong> </th>
  </tr>
  <tr>
    <td>1992/3 </td>
    <td>Little Common </td>
  </tr>
  <tr>
    <td>1993/4 </td>
    <td>Firehills </td>
  </tr>
  <tr>
    <td>1994/5 </td>
    <td>Spartan </td>
  </tr>
  <tr>
    <td>1995/6 </td>
    <td>Willingdon Athletic </td>
  </tr>
  <tr>
    <td>1996/7 </td>
    <td>Sedlescombe Rangers </td>
  </tr>
  <tr>
    <td>1997/8 </td>
    <td>Spartan </td>
  </tr>
  <tr>
    <td>1998/9 </td>
    <td>Langney Point </td>
  </tr>
  <tr>
    <td>1999/2000 </td>
    <td>Hastings Town White </td>
  </tr>
  <tr>
    <td>2000/2001 </td>
    <td>Hastings Town Red </td>
  </tr>
  <tr>
    <td>2001/2 </td>
    <td>Hastings Town White </td>
  </tr>
  <tr>
    <td>2002/3 </td>
    <td>Hastings Rangers </td>
  </tr>
  <tr>
    <td>2003/4 </td>
    <td>Grasshopper Junior Green </td>
  </tr>
  <tr>
    <td>2004/5 </td>
    <td>Little Common Minors </td>
  </tr>
  <tr>
    <td>2009/10 </td>
    <td>Hastings Town Red </td>
  </tr>
  <tr>
    <td>2010/11 </td>
    <td>Hastings United Youth </td>
  </tr>
  <tr>
    <td>2011/12 </td>
    <td>Hastings United Youth </td>
  </tr>
  <tr>
    <td>2012/13 </td>
    <td>Sedlescombe Rangers Blue </td>
  </tr>
</table>
<!--  
**********************
UNDER 10 DIVISION
**********************
-->   
<table border="0" class="table table-striped" width="100%">
  <tr>
    <th colspan="2" rowspan="1"> <strong>UNDER 10 DIVISION</strong> </th>
  </tr>
  <tr>
    <td>2013/14 </td>
    <td>Hastings United Colts </td>
  </tr>
</table>
<!--  
**********************
UNDER 11 MINI SOCCER DIVISION
**********************
-->   
<table border="0" class="table table-striped" width="100%">
  <tr>
    <th colspan="2" rowspan="1"> <strong>UNDER 11 MINI SOCCER DIVISION</strong> </th>
  </tr>
  <tr>
    <td>2000/1 </td>
    <td>Brede Bears </td>
  </tr>
  <tr>
    <td>2001/2 </td>
    <td>Princes Park Rangers </td>
  </tr>
  <tr>
    <td>2002/3 </td>
    <td>Junior Club Tackleway </td>
  </tr>
  <tr>
    <td>2003/4 </td>
    <td>St Leonards Youth </td>
  </tr>
  <tr>
    <td>2004/5 </td>
    <td>Grasshopper Junior Yellow </td>
  </tr>
  <tr>
    <td>2005/6 </td>
    <td>Grasshopper Junior </td>
  </tr>
</table>
<!--  
**********************
UNDER 11 GREEN
**********************
-->   
<table border="0" class="table table-striped" width="100%">
  <tr>
    <th colspan="2" rowspan="1"> <strong>UNDER 11 GREEN</strong> </th>
  </tr>
  <tr>
    <td>1998/9 </td>
    <td>Hailsham United </td>
  </tr>
  <tr>
    <td>2005/6 </td>
    <td>Hastings Town Blue </td>
  </tr>
</table>
<!--  
**********************
UNDER 11 BLUE
**********************
-->    
<table border="0" class="table table-striped" width="100%">
  <tr>
    <th colspan="2" rowspan="1"> <strong>UNDER 11 BLUE</strong> </th>
  </tr>
  <tr>
    <td>1993/4 </td>
    <td>Elphinstone Flyers </td>
  </tr>
  <tr>
    <td>1994/5 </td>
    <td>W inkney </td>
  </tr>
  <tr>
    <td>1995/6 </td>
    <td>Grasshopper Junior </td>
  </tr>
  <tr>
    <td>1996/7 </td>
    <td>Langney Point </td>
  </tr>
  <tr>
    <td>1997/8 </td>
    <td>Little Common </td>
  </tr>
  <tr>
    <td>1998/9 </td>
    <td>Churchwood Tigers </td>
  </tr>
  <tr>
    <td>1999/2000 </td>
    <td>Hollington Harriers </td>
  </tr>
  <tr>
    <td>2000/1 </td>
    <td>Little Common Minors </td>
  </tr>
  <tr>
    <td>2001/2 </td>
    <td>W es tfield </td>
  </tr>
  <tr>
    <td>2002/3 </td>
    <td>Bexhill Town </td>
  </tr>
  <tr>
    <td>2003/4 </td>
    <td>Pevensey &amp; Westham </td>
  </tr>
  <tr>
    <td>2004/5 </td>
    <td>Grasshopper Junior Green </td>
  </tr>
  <tr>
    <td>2005/6 </td>
    <td>Polegate Grasshoppers </td>
  </tr>
  <tr>
    <td>2006/7 </td>
    <td>Hastings Town Blue </td>
  </tr>
  <tr>
    <td>2007/8 </td>
    <td>Glenco Blue </td>
  </tr>
  <tr>
    <td>2008/9 </td>
    <td>Spartan Hoops </td>
  </tr>
  <tr>
    <td>2009/10 </td>
    <td>Mountfield </td>
  </tr>
  <tr>
    <td>2013/14 </td>
    <td>Sedlescombe Rangers White </td>
  </tr>
  <tr>
    <td>2019/20 </td>
    <td><i>Not Awarded</i ></td>
  </tr>
</table>
<!--  
**********************
UNDER 11 RED
**********************
-->   
<table border="0" class="table table-striped" width="100%">
  <tr>
    <th colspan="2" rowspan="1"> <strong>UNDER 11 RED</strong> </th>
  </tr>
  <tr>
    <td>1992/3 </td>
    <td>Bexhill Town </td>
  </tr>
  <tr>
    <td>1993/4 </td>
    <td>Little Common </td>
  </tr>
  <tr>
    <td>1994/5 </td>
    <td>Spartan </td>
  </tr>
  <tr>
    <td>1995/6 </td>
    <td>Langney Sports </td>
  </tr>
  <tr>
    <td>1996/7 </td>
    <td>Willingdon Athletic </td>
  </tr>
  <tr>
    <td>1997/8 </td>
    <td>Sedlescombe Rangers </td>
  </tr>
  <tr>
    <td>1998/9 </td>
    <td>Spartan </td>
  </tr>
  <tr>
    <td>1999/2000 </td>
    <td>Hastings Town </td>
  </tr>
  <tr>
    <td>2000/1 </td>
    <td>Hastings Town Blue </td>
  </tr>
  <tr>
    <td>2001/2 </td>
    <td>Hastings Town Red </td>
  </tr>
  <tr>
    <td>2002/3 </td>
    <td>Hastings Town </td>
  </tr>
  <tr>
    <td>2003/4 </td>
    <td>Hastings Rangers </td>
  </tr>
  <tr>
    <td>2004/5 </td>
    <td>Hastings Town Red </td>
  </tr>
  <tr>
    <td>2005/6 </td>
    <td>Little Common Rovers </td>
  </tr>
  <tr>
    <td>2006/7 </td>
    <td>W es tfield </td>
  </tr>
  <tr>
    <td>2007/8 </td>
    <td>Hastings Town Youth Red </td>
  </tr>
  <tr>
    <td>2008/9 </td>
    <td>Spartan </td>
  </tr>
  <tr>
    <td>2009/10 </td>
    <td>Hastings Rangers </td>
  </tr>
  <tr>
    <td>2013/14 </td>
    <td>Sedlescombe Rangers Blue </td>
  </tr>
  <tr>
    <td>2019/20 </td>
    <td><i>Not Awarded</i ></td>
  </tr>
</table>
<!--  
**********************
UNDER 11 DIVISION
**********************
-->  
<table border="0" class="table table-striped" width="100%">
  <tr>
    <th colspan="2" rowspan="1"> <strong>UNDER 11 DIVISION</strong> </th>
  </tr>
  <tr>
    <td>2010/11 </td>
    <td>Little Common Rovers </td>
  </tr>
  <tr>
    <td>2011/12 </td>
    <td>Hastings Town Yellow </td>
  </tr>
  <tr>
    <td>2012/13 </td>
    <td>Hastings Town </td>
  </tr>
</table>
<!--  
**********************
UNDER 12 GREEN
**********************
-->   
<table border="0" class="table table-striped" width="100%">
  <tr>
    <th colspan="2" rowspan="1"> <strong>UNDER 12 GREEN</strong> </th>
  </tr>
  <tr>
    <td>1999/2000 </td>
    <td>Beckley Rangers </td>
  </tr>
  <tr>
    <td>2005/6 </td>
    <td>Little Common Rovers </td>
  </tr>
</table>
<!--  
**********************
UNDER 12 BLUE
**********************
-->    
<table border="0" class="table table-striped" width="100%">
  <tr>
    <th colspan="2" rowspan="1"> <strong>UNDER 12 BLUE</strong> </th>
  </tr>
  <tr>
    <td>1993/4 </td>
    <td>New Romney </td>
  </tr>
  <tr>
    <td>1994/5 </td>
    <td>Langney Sports </td>
  </tr>
  <tr>
    <td>1995/6 </td>
    <td>Langney Sports </td>
  </tr>
  <tr>
    <td>1997/8 </td>
    <td>Langney Sports </td>
  </tr>
  <tr>
    <td>1998/9 </td>
    <td>Hastings Town </td>
  </tr>
  <tr>
    <td>1999/2000 </td>
    <td>Grasshopper Junior </td>
  </tr>
  <tr>
    <td>2000/1 </td>
    <td>St Leonards Youth Colts </td>
  </tr>
  <tr>
    <td>2001/2 </td>
    <td>Ridge Rangers </td>
  </tr>
  <tr>
    <td>2002/3 </td>
    <td>St Leonards Youth </td>
  </tr>
  <tr>
    <td>2003/4 </td>
    <td>New Romney </td>
  </tr>
  <tr>
    <td>2004/5 </td>
    <td>Stone Cross </td>
  </tr>
  <tr>
    <td>2005/6 </td>
    <td>Westfield </td>
  </tr>
  <tr>
    <td>2006/7 </td>
    <td>Pevensey &amp; Westham </td>
  </tr>
  <tr>
    <td>2007/8 </td>
    <td>Romney Cougars </td>
  </tr>
  <tr>
    <td>2008/9 </td>
    <td>Hastings Town Youth </td>
  </tr>
  <tr>
    <td>2009/10 </td>
    <td>Bexhill Youth </td>
  </tr>
  <tr>
    <td>2014/15 </td>
    <td>Hastings Rangers Youth </td>
  </tr>
  <tr>
    <td>2015/16 </td>
    <td>Beckley Rangers </td>
  </tr>
  <tr>
    <td>2016/17 </td>
    <td>St. Leonards  </td>
  </tr>
  <tr>
    <td>2017/18 </td>
    <td><a href="#u12">See Under 12</a></td>
  </tr>
   <tr>
    <td>2018/19 </td>
    <td>Eastbourne Borough Youth U12 Orange </td>
  </tr>
  <tr>
    <td>2019/20 </td>
    <td><i>Not Awarded</i ></td>
  </tr>
</table>
<!--  
**********************
UNDER 12 RED
**********************
-->   
<table border="0" class="table table-striped" width="100%">
  <tr>
    <th colspan="2" rowspan="1"> <strong>UNDER 12 RED</strong> </th>
  </tr>
  <tr>
    <td>1993/4 </td>
    <td>Spartan </td>
  </tr>
  <tr>
    <td>1994/5 </td>
    <td>Little Common </td>
  </tr>
  <tr>
    <td>1995/6 </td>
    <td>Bexhill Town Youth </td>
  </tr>
  <tr>
    <td>1996/7 </td>
    <td>Langney Sports </td>
  </tr>
  <tr>
    <td>1997/8 </td>
    <td>Stamcroft </td>
  </tr>
  <tr>
    <td>1998/9 </td>
    <td>St Leonards Youth </td>
  </tr>
  <tr>
    <td>1999/2000 </td>
    <td>Spartan </td>
  </tr>
  <tr>
    <td>2000/1 </td>
    <td>Hastings Town White </td>
  </tr>
  <tr>
    <td>2001/2 </td>
    <td>Hastings Town Minors </td>
  </tr>
  <tr>
    <td>2002/3 </td>
    <td>Hastings Harriers </td>
  </tr>
  <tr>
    <td>2003/4 </td>
    <td>Spartan Blue </td>
  </tr>
  <tr>
    <td>2004/5 </td>
    <td>Hastings Athletic </td>
  </tr>
  <tr>
    <td>2005/6 </td>
    <td>Grasshopper Junior Green </td>
  </tr>
  <tr>
    <td>2006/7 </td>
    <td>Hastings United </td>
  </tr>
  <tr>
    <td>2007/8 </td>
    <td>Westfield </td>
  </tr>
  <tr>
    <td>2008/9 </td>
    <td>Hastings Gunners Red </td>
  </tr>
  <tr>
    <td>2009/10 </td>
    <td>Bexhill Athletic Eagles </td>
  </tr>
  <tr>
    <td>2014/15 </td>
    <td>Ringmer Rovers </td>
  </tr>
  <tr>
    <td>2015/16 </td>
    <td>Select Youth </td>
  </tr>
  <tr>
    <td>2016/17 </td>
    <td>AS Eastbourne  </td>
  </tr>
  <tr>
    <td>2017/18 </td>
    <td><a href="#u12">See Under 12</a></td>
  </tr>
  <tr>
    <td>2018/19 </td>
    <td>Sedlescombe Rangers U12 Blues </td>
  </tr>
  
</table>
<!--  
**********************
UNDER 12 DIVISION
**********************
-->
<a name="u12" class="sr-only">UNDER 12 DIVISION</a>
<table border="0" class="table table-striped" width="100%">
  <tr>
    <th colspan="2" rowspan="1"> <strong>UNDER 12 DIVISION</strong> </th>
  </tr>
  <tr>
    <td>2010/11 </td>
    <td>Hastings Rangers </td>
  </tr>
  <tr>
    <td>2011/12 </td>
    <td>Little Common </td>
  </tr>
   <tr>
    <td>2017/18 </td>
    <td>AS Eastbourne U11/12 </td>
  </tr>
  <tr>
    <td>2019/20 </td>
    <td><i>Not Awarded</i ></td>
  </tr>
</table>
<!--  
**********************
UNDER 12/UNDER 13 COMBINATION DIVISION
**********************
-->   
<table border="0" class="table table-striped" width="100%">
  <tr>
    <th colspan="2" rowspan="1"> <strong>UNDER 12/UNDER 13 COMBINATION DIVISION</strong> </th>
  </tr>
  <tr>
    <td>2013/14 </td>
    <td>Bexhill United U12 </td>
  </tr>
</table>
<!--  
**********************
UNDER 13 BLUE
**********************
-->  
<table border="0" class="table table-striped" width="100%">
  <tr>
    <th colspan="2" rowspan="1"> <strong>UNDER 13 BLUE</strong> </th>
  </tr>
  <tr>
    <td>1994/5 </td>
    <td>Grasshopper Junior </td>
  </tr>
  <tr>
    <td>1995/6 </td>
    <td>Elphinstone Flyers </td>
  </tr>
  <tr>
    <td>1998/9 </td>
    <td>Hastings Town </td>
  </tr>
  <tr>
    <td>1999/2000 </td>
    <td>Bexhill Town </td>
  </tr>
  <tr>
    <td>2000/1 </td>
    <td>Hailsham United Colts </td>
  </tr>
  <tr>
    <td>2001/2 </td>
    <td>Junior Club Tackleway </td>
  </tr>
  <tr>
    <td>2002/3 </td>
    <td>Spartan </td>
  </tr>
  <tr>
    <td>2003/4 </td>
    <td>Polegate Grasshoppers </td>
  </tr>
  <tr>
    <td>2004/5 </td>
    <td>Eastbourne Borough </td>
  </tr>
  <tr>
    <td>2005/6 </td>
    <td>Pevensey &amp; Westham </td>
  </tr>
  <tr>
    <td>2006/7 </td>
    <td>Junior Club Tackleway </td>
  </tr>
  <tr>
    <td>2007/8 </td>
    <td>Hastings Rangers </td>
  </tr>
  <tr>
    <td>2008/9 </td>
    <td>Hastings Town White </td>
  </tr>
</table>
<!--  
**********************
UNDER 13 RED
**********************
-->   
<table border="0" class="table table-striped" width="100%">
  <tr>
    <th colspan="2" rowspan="1"> <strong>UNDER 13 RED</strong> </th>
  </tr>
  <tr>
    <td>1994/5 </td>
    <td>Spartan </td>
  </tr>
  <tr>
    <td>1995/6 </td>
    <td>Little Common </td>
  </tr>
  <tr>
    <td>1996/7 </td>
    <td>Langney Sports Colts </td>
  </tr>
  <tr>
    <td>1997/8 </td>
    <td>Little Common </td>
  </tr>
  <tr>
    <td>1998/9 </td>
    <td>St Leonards Youth </td>
  </tr>
  <tr>
    <td>1999/2000 </td>
    <td>Little Common </td>
  </tr>
  <tr>
    <td>2000/1 </td>
    <td>Glenco </td>
  </tr>
  <tr>
    <td>2001/2 </td>
    <td>Hastings Town White </td>
  </tr>
  <tr>
    <td>2002/3 </td>
    <td>Little Common </td>
  </tr>
  <tr>
    <td>2003/4 </td>
    <td>1066 </td>
  </tr>
  <tr>
    <td>2004/5 </td>
    <td>New Romney </td>
  </tr>
  <tr>
    <td>2005/6 </td>
    <td>Hastings Town Youth 2000 </td>
  </tr>
  <tr>
    <td>2006/7 </td>
    <td>Hastings Gunners Green </td>
  </tr>
  <tr>
    <td>2007/8 </td>
    <td>Hastings Gunners Red </td>
  </tr>
  <tr>
    <td>2008/9 </td>
    <td>Little Common Minors </td>
  </tr>
</table>
<!--  
**********************
UNDER 13 DIVISION
**********************
-->    
<table border="0" class="table table-striped" width="100%">
  <tr>
    <th colspan="2" rowspan="1"> <strong>UNDER 13 DIVISION</strong> </th>
  </tr>
  <tr>
    <td>2009/10 </td>
    <td>Hastings Gunners </td>
  </tr>
  <tr>
    <td>2010/11 </td>
    <td>Sedlescombe Rangers </td>
  </tr>
  <tr>
    <td>2011/12 </td>
    <td>Rye Bay </td>
  </tr>
   <tr>
    <td>2016/17</td>
    <td>Sedlescombe Rangers    </td>
  </tr>
  <tr>
    <td>2017/18</td>
    <td>Hastings United Youth </td>
  </tr>
  <tr>
    <td>2018/19</td>
    <td>The Junior Club Tackleway Youth Titans </td>
  </tr>
  <tr>
    <td>2019/20 </td>
    <td><i>Not Awarded</i ></td>
  </tr>
</table>
<!--  
**********************
UNDER 13/UNDER 14 COMBINATION DIVISION
**********************
-->   
<table border="0" class="table table-striped" width="100%">
  <tr>
    <th colspan="2" rowspan="1"> <strong>UNDER 13/UNDER 14 COMBINATION DIVISION</strong> </th>
  </tr>
  <tr>
    <td>2014/15 </td>
    <td>JC Tackleway Panthers </td>
  </tr>
  <tr>
    <td>2015/16 </td>
    <td>AS Eastbourne </td>
  </tr>
  <tr>
    <td>2016/17 </td>
    <td>Hastings Town Youth</td>
  </tr>
</table>
<!--  
**********************
UNDER 14 BLUE
**********************
-->    
<table border="0" class="table table-striped" width="100%">
  <tr>
    <th colspan="2" rowspan="1"> <strong>UNDER 14 BLUE</strong> </th>
  </tr>
  <tr>
    <td>2000/1 </td>
    <td>Glenco </td>
  </tr>
  <tr>
    <td>2001/2 </td>
    <td>Beckley Rangers </td>
  </tr>
  <tr>
    <td>2002/3 </td>
    <td>Rolvenden </td>
  </tr>
  <tr>
    <td>2003/4 </td>
    <td>Hastings Rangers </td>
  </tr>
  <tr>
    <td>2005/6 </td>
    <td>Hastings Rangers </td>
  </tr>
  <tr>
    <td>2006/7 </td>
    <td>Hastings United </td>
  </tr>
  <tr>
    <td>2007/8 </td>
    <td>Hastings United Youth </td>
  </tr>
  <tr>
    <td>2009/10 </td>
    <td>Bexhill Town </td>
  </tr>
  <tr>
    <td>2017/18 </td>
    <td>Kingston Village  </td>
  </tr>
</table>
<!--  
**********************
UNDER 14 RED
**********************
-->    
<table border="0" class="table table-striped" width="100%">
  <tr>
    <th colspan="2" rowspan="1"> <strong>UNDER 14 RED</strong> </th>
  </tr>
  <tr>
    <td>1994/5 </td>
    <td>Spartan </td>
  </tr>
  <tr>
    <td>1995/6 </td>
    <td>Winkney </td>
  </tr>
  <tr>
    <td>1996/7 </td>
    <td>Junior Club Tackleway </td>
  </tr>
  <tr>
    <td>1997/8 </td>
    <td>Firehills </td>
  </tr>
  <tr>
    <td>1998/9 </td>
    <td>Little Common </td>
  </tr>
  <tr>
    <td>1999/2000 </td>
    <td>Sidley United </td>
  </tr>
  <tr>
    <td>2000/1 </td>
    <td>Hastings Town Red </td>
  </tr>
  <tr>
    <td>2001/2 </td>
    <td>Glenco </td>
  </tr>
  <tr>
    <td>2002/3 </td>
    <td>Polegate Grasshoppers </td>
  </tr>
  <tr>
    <td>2003/4 </td>
    <td>Guestling Rangers </td>
  </tr>
  <tr>
    <td>2005/6 </td>
    <td>Hastings Town Youth </td>
  </tr>
  <tr>
    <td>2006/7 </td>
    <td>Westfield Youth </td>
  </tr>
  <tr>
    <td>2007/8 </td>
    <td>Sedlescombe Rangers </td>
  </tr>
  <tr>
    <td>2008/9 </td>
    <td>Westfield Youth </td>
  </tr>
  <tr>
    <td>2009/10 </td>
    <td>Sedlescombe Rangers </td>
  </tr>
  <tr>
    <td>2017/18 </td>
    <td>East Peckham United  </td>
  </tr>
</table>
<!--  
**********************
UNDER 14 DIVISION
**********************
-->   
<table border="0" class="table table-striped" width="100%">
  <tr>
    <th colspan="2" rowspan="1"> <strong>UNDER 14 DIVISION</strong> </th>
  </tr>
  <tr>
    <td>2010/11 </td>
    <td>Westfield </td>
  </tr>
  <tr>
    <td>2011/12 </td>
    <td>Hastings Rangers </td>
  </tr>
  <tr>
    <td>2012/13 </td>
    <td>Westfield </td>
  </tr>
  <tr>
    <td>2018/19 </td>
    <td>Eastbourne Borough Youth Black </td>
  </tr>
  <tr>
    <td>2019/20 </td>
    <td><i>Not Awarded</i ></td>
  </tr>
</table>
 
<table border="0" class="table table-striped" width="100%">
  <tr>
    <th colspan="2" rowspan="1"> <strong>UNDER 15 BLUE</strong> </th>
  </tr>
  <tr>
    <td>2004/5 </td>
    <td>Guestling Rangers </td>
  </tr>
  <tr>
    <td>2006/7 </td>
    <td>Grasshopper Junior </td>
  </tr>
  <tr>
    <td>2007/8 </td>
    <td>Glenco Yellow </td>
  </tr>
  <tr>
    <td>2008/9 </td>
    <td>Eastbourne United Colts </td>
  </tr>
</table>
<!--  
**********************
UNDER 15 RED
**********************
-->   
<table border="0" class="table table-striped" width="100%">
  <tr>
    <th colspan="2" rowspan="1"> <strong>UNDER 15 RED</strong> </th>
  </tr>
  <tr>
    <td>1994/5 </td>
    <td>Stamco Youth </td>
  </tr>
  <tr>
    <td>1995/6 </td>
    <td>Hampden Park Rangers </td>
  </tr>
  <tr>
    <td>1997/8 </td>
    <td>Little Common </td>
  </tr>
  <tr>
    <td>2000/1 </td>
    <td>Grasshopper Junior </td>
  </tr>
  <tr>
    <td>2001/2 </td>
    <td>Hastings Town </td>
  </tr>
  <tr>
    <td>2002/3 </td>
    <td>New Romney </td>
  </tr>
  <tr>
    <td>2003/4 </td>
    <td>Kingsmere Youth </td>
  </tr>
  <tr>
    <td>2004/5 </td>
    <td>Grasshopper Junior </td>
  </tr>
  <tr>
    <td>2005/6 </td>
    <td>Pevensey &amp; Westham </td>
  </tr>
  <tr>
    <td>2006/7 </td>
    <td>Spartan </td>
  </tr>
  <tr>
    <td>2007/8 </td>
    <td>Westfield Youth </td>
  </tr>
  <tr>
    <td>2008/9 </td>
    <td>Hastings Gunners Blue </td>
  </tr>
</table>
<!--  
**********************
UNDER 15 DIVISION
**********************
-->    
<table border="0" class="table table-striped" width="100%">
  <tr>
    <th colspan="2" rowspan="1"> <strong>UNDER 15 DIVISION</strong> </th>
  </tr>
  <tr>
    <td>2010/11 </td>
    <td>Rye Bay </td>
  </tr>
  <tr>
    <td>2011/12 </td>
    <td>Dynamo Hastings </td>
  </tr>
   <tr>
    <td>2018/19 </td>
    <td>Hastings Rangers Youth U15 Youth</td>
  </tr>
</table>
<!--  
**********************
UNDER 15/UNDER 16 COMBINATION DIVISION
**********************
-->   
<table border="0" class="table table-striped" width="100%">
  <tr>
    <th colspan="2" rowspan="1"> <strong>UNDER 15/UNDER 16 COMBINATION DIVISION</strong> </th>
  </tr>
  <tr>
    <td>2013/14 </td>
    <td>Beckley Rangers U16 </td>
  </tr>
</table>
<!--  
**********************
UNDER 16 BLUE
**********************
-->    
<table border="0" class="table table-striped" width="100%">
  <tr>
    <th colspan="2" rowspan="1"> <strong>UNDER 16 BLUE</strong> </th>
  </tr>
  <tr>
    <td>2004/5 </td>
    <td>Junior Club Tackleway </td>
  </tr>
</table>
<!--  
**********************
UNDER 16 RED
**********************
-->    
<table border="0" class="table table-striped" width="100%">
  <tr>
    <th colspan="2" rowspan="1"> <strong>UNDER 16 RED</strong> </th>
  </tr>
  <tr>
    <td>1994/5 </td>
    <td>Rye United </td>
  </tr>
  <tr>
    <td>1995/6 </td>
    <td>Little Common </td>
  </tr>
  <tr>
    <td>1999/2000 </td>
    <td>Little Common </td>
  </tr>
  <tr>
    <td>2001/2 </td>
    <td>Hastings Town </td>
  </tr>
  <tr>
    <td>2003/4 </td>
    <td>Glenco </td>
  </tr>
  <tr>
    <td>2004/5 </td>
    <td>Bexhill Town </td>
  </tr>
  <tr>
    <td>2005/6 </td>
    <td>Grasshopper Junior </td>
  </tr>
  <tr>
    <td>2007/8 </td>
    <td>Hastings Rangers </td>
  </tr>
  <tr>
    <td>2008/9 </td>
    <td>Hastings United Colts </td>
  </tr>
</table>
<!--  
**********************
UNDER 16 DIVISION
**********************
-->    
<table border="0" class="table table-striped" width="100%">
  <tr>
    <th colspan="2" rowspan="1"> <strong>UNDER 16 DIVISION</strong> </th>
  </tr>
  <tr>
    <td>2009/10 </td>
    <td>Hastings United </td>
  </tr>
  <tr>
    <td>2012/13 </td>
    <td>Bexhill United </td>
  </tr>
  <tr>
    <td>2019/20 </td>
    <td><i>Not Awarded</i ></td>
  </tr>
</table>
<!--  
**********************
UNDER 17 DIVISION
**********************
-->   
<table border="0" class="table table-striped" width="100%">
  <tr>
    <th colspan="2" rowspan="1"> <strong>UNDER 17 DIVISION</strong> </th>
  </tr>
  <tr>
    <td>2002/3 </td>
    <td>Winchelsea Beach </td>
  </tr>
  <tr>
    <td>2003/4 </td>
    <td>Hastings Town Minors </td>
  </tr>
</table>
