<!--  
**********************
PAT BLIGH AWARD
**********************
--> 
<table border="0" class="table table-striped" width="100%">
  <tr>
    <th colspan="2" rowspan="1"> <strong>PAT BLIGH AWARD </strong><br>
      <small>Named in honour of the one-time Secretary of the forerunner to our League, and presented to the Club who have been the most sporting during the season.</small></th>
  </tr>
  <tr>
    <td>1993/4 </td>
    <td>Ocklynge Youth </td>
  </tr>
  <tr>
    <td>1994/5 </td>
    <td>Langney Sports Junior </td>
  </tr>
  <tr>
    <td>1995/6 </td>
    <td>Elphinstone Flyers </td>
  </tr>
  <tr>
    <td>1996/7 </td>
    <td>Old Town Boys </td>
  </tr>
  <tr>
    <td>1997/8 </td>
    <td>Winkney </td>
  </tr>
  <tr>
    <td>1998/9 </td>
    <td>Old Town Boys </td>
  </tr>
  <tr>
    <td>1999/2000 </td>
    <td>Old Town Boys </td>
  </tr>
  <tr>
    <td>2000/1 </td>
    <td>Winchelsea Beach </td>
  </tr>
  <tr>
    <td>2001/2 </td>
    <td>Polegate Grasshoppers </td>
  </tr>
  <tr>
    <td>2002/3 </td>
    <td>Winchelsea Beach </td>
  </tr>
  <tr>
    <td>2003/4 </td>
    <td>Glenco </td>
  </tr>
  <tr>
    <td>2004/5 </td>
    <td>Eastbourne Borough </td>
  </tr>
  <tr>
    <td>2005/6 </td>
    <td>Glenco </td>
  </tr>
  <tr>
    <td>2009/10 </td>
    <td>Hastings Rangers </td>
  </tr>
  <tr>
    <td>2010/11 </td>
    <td>Hastings Town </td>
  </tr>
  <tr>
    <td>2011/12 </td>
    <td>Sedlescombe Rangers </td>
  </tr>
  <tr>
    <td>2012/13 </td>
    <td>Hawkhurst United Junior </td>
  </tr>
  <tr>
    <td>2013/14 </td>
    <td>Junior Club Tackleway </td>
  </tr>
  <tr>
    <td>2014/15 </td>
    <td>Select Youth </td>
  </tr>
  <tr>
    <td>2015/16 </td>
    <td>Little Common</td>
  </tr>
   <tr>
    <td>2016/17 </td>
    <td>Bexhill United FC
</td>
  </tr>
   <tr>
    <td>2017/18 </td>
    <td>JC  Tackleway  Tigers </td>
  </tr>
  
   <tr>
    <td>2018/19 </td>
    <td>Sedlescombe RangersE</td>
  </tr>
  <tr>
    <td>2019/20 </td>
    <td><i>Not Awarded</i ></td>
  </tr>
</table>
<!--  
**********************
1066 SPORTING TROPHY 
**********************
--> 
<table border="0" class="table table-striped" width="100%">
  <tr>
    <th colspan="2" rowspan="1"> <strong>1066 SPORTING TROPHY </strong><br> 
      <small>Presented to the most sporting Team in the League during the season.</small></th>
  </tr>
  <tr>
    <td>2005/6 </td>
    <td>Rye Bay U11 </td>
  </tr>
  <tr>
    <td>2009/10 </td>
    <td>Westfield Eagles U11 </td>
  </tr>
  <tr>
    <td>2010/11 </td>
    <td>Sedlescombe Rangers U7 </td>
  </tr>
  <tr>
    <td>2011/12 </td>
    <td>Hawkhurst United U10 Town </td>
  </tr>
  <tr>
    <td>2012/13 </td>
    <td>Style Soccer U8 </td>
  </tr>
  <tr>
    <td>2013/14 </td>
    <td>JC Tackleway U11 Red </td>
  </tr>
  <tr>
    <td>2014/15 </td>
    <td>Glenco U8 </td>
  </tr>
  <tr>
    <td>2015/16 </td>
    <td>Hastings  Wanderers  U10 </td>
  </tr>
  <tr>
    <td>2016/17 </td>
    <td>Robertsbridge United Junior U8
</td>
  </tr>
   <tr>
    <td>2017/18 </td>
    <td>Sedlescombe  Rangers  U7  White </td>
  </tr>
   <tr>
    <td>2018/19 </td>
    <td>Gouldurst Dynamos U14 </td>
  </tr>
  <tr>
    <td>2019/20 </td>
    <td><i>Not Awarded</i ></td>
  </tr>

</table>

<!--  
**********************
ALF HOLDSTOCK TROPHY
**********************
--> 
<table border="0" class="table table-striped" width="100%">
  <tr>
    <th colspan="2" rowspan="1"> <strong>ALF HOLDSTOCK TROPHY</strong> <br>
     <small> Named in honour of the former President of our League and lifelong supporter of youth football. This trophy is presented by the Management Committee for Services to Local Youth Football.</small></th>
  </tr>
  <tr>
    <td>1999/2000</td>
    <td>Pat Taylor</td>
  </tr>
  <tr>
    <td>2000/1</td>
    <td>Margaret Cherry</td>
  </tr>
  <tr>
    <td>2001/2</td>
    <td>Irene Mantel</td>
  </tr>
  <tr>
    <td>2002/3</td>
    <td>Jack Payne</td>
  </tr>
  <tr>
    <td>2003/4</td>
    <td>Dave McCrossen</td>
  </tr>
  <tr>
    <td>2004/5</td>
    <td>Ian Grant</td>
  </tr>
  <tr>
    <td>2005/6</td>
    <td>Jim Williams</td>
  </tr>
  <tr>
    <td>2009/10</td>
    <td>Paul Bezance</td>
  </tr>
  <tr>
    <td>2010/11</td>
    <td>Denis Milward</td>
  </tr>
  <tr>
    <td>2011/12</td>
    <td>Tracy Aston</td>
  </tr>
  <tr>
    <td>2012/13</td>
    <td>Janet Tiltman</td>
  </tr>
  <tr>
    <td>2013/14</td>
    <td>Richard Hubble</td>
  </tr>
  <tr>
    <td>2014/15</td>
    <td><i>Not Awarded</i></td>
  </tr>
  <tr>
    <td>2015/16 - 2018/19</td>
    <td><i>Not Awarded</i></td>
  </tr>
 
</table>

